@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--very-light-gray);
}

header {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: center;
  align-items: center;
  
}

.title {
  width: 550px;
  /*background-color: red;*/
}

.title h1 {
  text-align: center;
  color: var(--very-dark-blue);
  font-weight: 200;
  font-size: 40px;
}

.title h1:last-child {
  text-align: center;
  color: var(--very-dark-blue);
  font-weight: 700;
  font-size: 40px;
}

header span {
  margin-top: 25px;
  width: 600px;
  text-align: center;
  color: var(--grayish-blue);
}

main {
  height: 75%;
  
}

.card-wrapper {
  margin-left: 5%;
  height: 90%; 
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}
